 form
{
    align-items: center;
    background-color: grey;
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 300px;
    justify-content: center;
}
form:hover
{
    background-color: red;
    transition: 1s;
    opacity: 80%;
}